@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-error">Error.</h1>
<h2 class="text-error">@Model.Error</h2>

<div class="card-actions justify-end">
    <a asp-controller="Home"
       asp-action="Summary"
       class="btn btn-info">
        Back to Home
    </a>
</div>